.MoreLocationStats {
  height: 100%;
  width: 100%;
  background: rgba(32, 43, 51, 0.9)
  top: 3px;
  max-height: 212px;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  left: -100%;
  z-index: 49;
  visibility: visible;
  padding: 25px 0;
  flex-direction: column;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
      background: var(--dark1);
  }

  &.isShown-false {
    visibility: hidden;
  }

  & p:first-of-type {
    padding-left: 25px;
    margin-bottom: 15px;
  }

  ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-left: 5px;
    margin-top: 20px;

    li {
      color: var(--gray0);
      font-weight: 300;
      font-size: 1.2rem;
      margin-bottom: 10px;

      &:last-of-type {
        margin-bottom: 25px;
      }
    }
  }

  circle {
    display: none;
  }

  & > .stat-average {
    font-size: 1.2rem;
    margin-left: 30px;
  }
}
