._filter-menu.shown-false {
  background: whitesmoke;
  flex-direction: column;
  height: 0px;
  width: 100%;
  transition: height 0.5s;
  z-index: 50;
  box-shadow: 0 0 20px rgba(0,0,0,1);
  overflow: hidden;
}

._filter-menu.shown-true {
  height: 150px;
}
