
.Home {
  width: 100%;
  height: 100%;

  & > .container {
    width: 100%;
    padding: 30px;
    // background: var(--dark0);
    margin: 0 auto;
    height 100%;
    flex-direction: column;
    flex-shrink: 0;
    // padding-top: 30px;
    // border-top: 1px solid var(--red0);

    .view-title {
      text-transform: uppercase;
      font-size: 2rem;
      letter-spacing: 2px;
      width: 100%;
      margin-bottom: 3px;
    }

    .overviews {
      padding: 25px 10px;
      flex-wrap: wrap;
    }
  }
}
