._overview-title {
  flex-direction: column;
}

._overview-title > .subtitle {
  font-size: 1.1rem;
	color: var(--gray0);
	text-transform: uppercase;
	width: 100%;
	font-weight: 300;
	letter-spacing: 1px;
	text-align: center;
}

._overview-title > .city-name {
  width: 100%;
	padding: 0 10px 10px;
	font-weight: 300;
	font-size: 1.6rem;
	color: var(--gray0);
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
}
