._overview-health {
	align-items: center;
	padding: 10px 0;
}

._overview-health > .container {
	margin: 0 auto;
	width: 90%;
	max-width: 90px;
	flex-direction: column;
}

._overview-health > .container > .circle {
	padding-top: 90%;
	max-height: 90px;
	position: relative;
	border-radius: 50%;
	background: none;
	border: 5px solid var(--green0);
	justify-content: center;
	align-items: center;
}

._overview-health > .container > .circle > .inner > p {
	position: relative;
	bottom: 40px;
	font-weight: 400;
}

._overview-health > .container > .subtitle {
	margin-top: 10px;
	text-align: center;
}
