:root {
  --darkest: #070A0C;
  --dark0: #202B33;
  --dark1: #393F46;
  --dark2: #192127;
  --gray1: #788895;
  --gray0: #4A5863;
  --blue0: #2280BC;
  --red0: #D62D69;
  --green0: #58BC74;
  --orange0: #E38F43;
  --gray0: #748592;
  --purple0: #403E63;

  --font0: 'Rubik', sans-serif;
}
